.App {
  text-align: center;
}

.App h2 {
  font-size: 1.4rem;
}

.App-logo {
  height: 2rem;
  pointer-events: none;
  margin-bottom: -0.4rem;
}

.App-header {
  background-color: #282c34;
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.notFound {
  text-align: center;
}
.navigator ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.LoginBody {
  position: absolute;
  left: 45%;
  top: 50%;
}
.farmerDash {
  display: flex;
  justify-content: left;
  margin: 20px;
}
.fieldDash {
  display: flex;
  margin: 20px;
}
.currentBudget {
  flex: 1;
  padding: 20px;
  background-color: aquamarine;
  width: 100%;
  border-radius: 5px;
  color: grey;
  margin: 10px;
}
